@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

html,
body {
  background: #F6F7FB;

}

/* Write your own custom component styles here */


.background {
  background: url("background.png");
  @apply bg-auto bg-no-repeat my-8 w-full h-32 flex justify-center items-center rounded-md;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */

.header {
  color: #333333;
}

.primary-color {
  color: #282538;
}
